
.firstdiv{
  display: flex;
  height: 100%;
 width:50%;
}

.childDiv{
  width:50%;
  height:50%;
  color: white;
  background-color:red;
  border: 5px solid black;
}
       
.childDiv:nth-of-type(2){
 background-image:url("1.jpeg");
 background-size: cover;
}
@media (max-width: 567px){
 .firstdiv{
  flex-direction: column;
 }
}
