 


       h1{
         
              color: blue;
              whidth:100%;
              
              
          }

    .firstdiv{
              dispaly: flex;
       }
      
     .childDiv{
              width:50%;
              height:50%;
              color: white;
            background-color:red;
             border: 5px solid black;
            
     }
       .childDiv:nth-of-type(2){
              background-color:green!important;
       }
     
