.header{
 display:flex;
 width:100%;
 height:20%;
 background-color:green;
}

.logo{
 width:25%;
 background-color:pink;
}
.logo a{
 width:100%;
 height:100%;
 justify-content:center;
 display:flex;
}
.img{
 width:auto;
 height:auto;
}
.menu{
 width:75%;
 background-color:blue;
 
}
.navbar a{
 display:flex;
}
.menu a{
   color:black;
}

@media (max-width: 567px){
 .firstdiv{
  flex-direction: column;
 }
}
