h1{         
 color: blue;
 width:100%;
}
.firstdiv{
  display: flex
  height: 50%;
}

.childDiv{
  width:50%;
  height:100%;
  color: white;
  background-color:red;
  border: 5px solid black;
}
       
.childDiv:nth-of-type(2){
 background-image:url("DSC_7434.JPG");
}
