


       h1{
         
              color: black;
              whidth:100%;
              
              
          }
      

      div{
             width:100%;
             height:50%;
             border:10px solid green;
              margin:0px;
             color:green;
            }



      .one + .two  + .three .four{
              color:pink;
      }

       .one:nth-of-type(3) .four{
              color: pink;
       }
       .one + .one + .one .four{
                        color: pink;}


                        



