

       h1{
         
              color: black;
              whidth:100%;
              height:100%;
              
          }
      

      div{
             width:120%;
             height:120%;
             border:10px solid green;
              margin:0px;
             color:green;
            }
                        



