

       h1{
         color: brown;
         font-size: 80px;
         background-color: yellow
              ;
       }
      body{
           /*  background-color: black;*/
      }

      div{
             width:100%;
             height:50%;
             border:5px solid green;
      }
                        



