

       h1{
         
              color: black;
              whidth:100%;
              height:100%;
              
       }
      

      div{
             width:100%;
             height:50%;
             border:10px solid green;
              margin:0px;
      }
                        



