h1{         
 color: blue;
 width:50%;
}
.firstdiv{
  display: flex;
  height: 100%;
}

.childDiv{
  width:50%;
  height:100%;
  color: white;
  background-color:red;
  border: 5px solid black;
}
       
.childDiv:nth-of-type(2){
 background-image:url("DSC_7434.JPG");
 background-size: fit;
}
@media(max-width: 567px){
 .firstdiv{
  flex-direction: column;
 }
}
