

       h1{
         color: red;
         font-size: 80px;
         background-color: pink;
       }
      body{
             background-color: black;
      }

      div{
             width:100%;
             height:50%;
             border:5px solid green;
      }
                        



