
.header{
  display: flex;
  height: 100%;
 width:50%;
  background-color:green;
}
.logo{
  width:25;
  background:green;
}

.menu{
  width:75;
  background:blue;
}
@media (max-width: 567px){
 .firstdiv{
  flex-direction: column;
 }
}
