
.header{
  display: flex;
  height: 10%;
 width:100%;
  background-color:green;
}
.logo{
  width:25;
  background-color:green;
}

.menu{
  width:75;
  background-color:blue;
}
@media (max-width: 567px){
 .firstdiv{
  flex-direction: column;
 }
}
