*{
 margin:0;
}
.header{
 display:flex;
 width:100%;
 height:10%;
 background-color:green;
 

}

.logo{
 width:25%;
 background-color:pink;
}
.logo a{
 width:100%;
 height:100%;
 justify-content:center;
 display:flex;
}
.img{
 width:auto;
 height:auto;
}
.menu{
 width:75%;
 background-color:blue;
  display:flex;
 text-align:center;
}
.navbar {
    width:100%;
}
.navbar ul{
   display:flex;
   text-decoration:none;
   list-style:none;
  justify-content:space-around;
  
   }
.navbar ul li a{
 text-decoration:none;
 color:black;
 font-size:min(1.5vw,1.5vw);
 
}
@media (max-width: 567px){
 .firstdiv{
  flex-direction: column;
 }
}

